#{extends 'main.html' /} 
#{set title:'manage.html' /}#{include 'include/formHead.html' /}
<div class="row">
	<div class="col-sm-12">
		<h1>&{'ChangePassword'}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 ">
		<p class="text-center">#{if errorMsg} ${errorMsg?.nl2br()} #{/if}</p>
		<form role="form" method="post" id="passwordForm" action="@{saveChangePassword()}" class="RestoFormValidation">
			<input type="password" class="input-lg form-control" name="oldPassword" id="oldPassword" placeholder="&{'OldPassword'}" autocomplete="off" >
			<br>
			<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="&{'NewPassword'}" autocomplete="off" >
			
			
			<br>
			
			<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="&{'RepeatPassword'}" autocomplete="off" >
			<div class="row">
				<div class="col-sm-12">
					<span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span> &{'PasswordsMatch'}
				</div>
			</div>
						<br>
			
			<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="&{'ChangePassword'}">
		</form>
	</div>
	<!--/col-sm-6-->
</div>
#{include 'include/formValidation.html' /}

<script type="text/javascript">
	$("input[type=password]").keyup(function() {
		var ucase = new RegExp("[A-Z]+");
		var lcase = new RegExp("[a-z]+");
		var num = new RegExp("[0-9]+");


		if ($("#password1").val() == $("#password2").val()) {
			$("#pwmatch").removeClass("glyphicon-remove");
			$("#pwmatch").addClass("glyphicon-ok");
			$("#pwmatch").css("color", "#00A41E");
		} else {
			$("#pwmatch").removeClass("glyphicon-ok");
			$("#pwmatch").addClass("glyphicon-remove");
			$("#pwmatch").css("color", "#FF0004");
		}
	});
</script>