#{extends 'stockMain.html' /} #{include 'include/tableWithFilterHead.html' /}
#{include 'include/formHead.html' /}
<div class="form-group">
	<h3>&{'Orders'}</h3>
	<hr class="text-primary">
</div>

#{if (clientordersList==null || clientordersList?.size()==0) }
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">&{'Orders'}</h3>
	</div>
	<div class="panel-body">&{'Listisempty'}</div>
</div>
#{/if} #{else}

<div class="panel panel-primary filterable">
	<div class="panel-heading">
		<h3 class="panel-title">&{'Orders'} (${itemsCount})</h3>
	</div>
	
</div>
#{include 'include/pagination.html' /}
#{include 'include/formValidation.html' /}
#{include 'include/deleteConfirmDialog.html' /} #{/else} 
