#{extends 'stockMain.html' /} #{set title:'deliveryForm.html' /} #{include
'include/formHead.html' /} 
<link rel="stylesheet" href="/public/stylesheets/rating.css" type="text/css" />
<script src="/public/javascripts/rating.js"></script>

<form class="form-horizontal RestoFormValidation" role="form"
	action="@{saveDelivery()}" method="post">
	<fieldset>
		<legend>&{'DeliveryForm'}</legend>
		<input type="hidden" name="id" value="${brand?.ID}">
		#{field 'delivery.res_id'} <input type="hidden" name="${field?.name}"
			value="${field?.value}" /> #{/field}
		 
		
		 
		
		<div class="row">
			<div class="col-md-2">
				#{field 'delivery.ClientID'} <label for="${field?.id}"
					class="form-label-en">&{'Client'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'delivery.ClientLocation'} <label for="${field?.id}"
					class="form-label-en">&{'Location'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'delivery.Notes'} <label for="${field?.id}"
					class="form-label-en">&{'Notes'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		 
	 
		
		<div class="row">
	
			<div class="col-md-2">
				#{field 'delivery.DeliveryRating'} <label for="${field?.id}"
					class="form-label-en">&{'Rating'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
				<div id="star-rating">
		    <input type="radio" name="example" class="rating rating1" value="1" />
		    <input type="radio" name="example" class="rating rating2" value="2" />
		    <input type="radio" name="example" class="rating rating3" value="3" />
		    <input type="radio" name="example" class="rating rating4" value="4"   />
		    <input type="radio" name="example" class="rating rating5" value="5" />
		</div>
				
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="hidden" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'delivery.DeliveryStatus'} <label for="${field?.id}"
					class="form-label-en">&{'Status *<br/> (Pending|Sent|Canceled)'}</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		
	
		
		<div class="row">
			<div class="form-button-en">
				<button type="submit" class="btn btn-primary">&{'Save'}</button>
				<a href="@{manage()}" class="btn btn-danger">&{'Cancel'}</a>
			</div>
		</div>
	</fieldset>
</form>
#{include 'include/formValidation.html' /}
<script>
$(function(){                   // Start when document ready
    // Call the rating plugin
    #{if (delivery.DeliveryRating)}
    var Sekected = ${delivery.DeliveryRating?.value};
     $(".rating"+Sekected).attr('checked', 'checked');
     #{/if}
    
    $('#star-rating').rating(function(vote, event){
         console.log(vote, event);
         $('#delivery_DeliveryRating').val(vote);
    });
}); 
</script>
