#{extends 'stockMain.html' /} #{set title:'manage.html' /} #{include
'include/formHead.html' /} 

<div class="form-group">
	<a href="@{deliveryForm()}" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> &{'New Delivery'}</a>
	<h3>&{'Delivery'}</h3>
	<hr class="text-primary">
</div>

#{if (deliveryList==null || deliveryList?.size()==0) && isFilteringMode == true}
<div class="alert alert-warning alert-dismissible" role="alert">
  <strong>Warning!</strong> No Data Found.
</div>
#{/if}
#{else}

	<table id="listofdelivery" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
	<thead>
		<tr>
			 
			<th>&{'CLient'}</th>
			<th>&{'Status'}</th>
			<th>&{'Location'}</th>
			<th>&{'Notes'}</th>
			<th>&{'DeliveryRating'}</th>
			 
			 <th>&{'Actions'}</th>
		</tr>
	</thead>

	<tbody>
		#{list deliveryList, as:'delivery'}
		<tr>
		 
			<td>${delivery.ClientID}</td>
			<td>${delivery.DeliveryStatus}</td>
			<td>${delivery.ClientLocation}</td>
			
			
			<td>${delivery.Notes}</td>
			<td>${delivery.DeliveryRating}</td>
	 
			 
			<td>
				<a href="@{deliveryForm(delivery?.res_id)}" title="&{'Edit'}"><span class="glyphicon glyphicon-edit text-success mdbtn"></span></a>
				 
				<a href="#" class="confirmDelete" title="&{'Delete'}" ><span class="glyphicon glyphicon-trash text-danger mdbtn"></span></a>
				 
			</td>
		</tr>
		#{/list}
	</tbody>

</table>

#{/else}

<script>
$(document).ready(function() {
    $('#listofdelivery').DataTable();
} );
</script>