#{extends 'ratingMain.html' /} #{set title:'ratingEmployeeForm.html' /} #{include
'include/formHead.html' /} 

<form class="form-horizontal RestoFormValidation" role="form"
	action="@{saveRatingEmployee()}" method="post">
	<fieldset>
		<legend>&{'RatingEmployeeForm'}</legend>
		<input type="hidden" name="id" value="${brand?.ID}">
		#{field 'ratingEmployee.ID'} <input type="hidden" name="${field?.name}"
			value="${field?.value}" /> #{/field}
		<div class="row">
			<div class="col-md-2">
				#{field 'ratingEmployee.EmployeeID'} <label for="${field?.id}"
					class="form-label-en">&{'Employee'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		 
		 <br>
		
		 
		
		<div class="row">
			<div class="col-md-2">
				#{field 'ratingEmployee.Rating'} <label for="${field?.id}"
					class="form-label-en">&{'Rate'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		 
		
		 <br>
		<div class="row">
			<div class="form-button-en">
				<button type="submit" class="btn btn-primary">&{'Save'}</button>
				<a href="@{manage()}" class="btn btn-danger">&{'Cancel'}</a>
			</div>
		</div>
	</fieldset>
</form>
#{include 'include/formValidation.html' /}
