#{extends 'ratingMain.html' /} #{set title:'manage.html' /} #{include
'include/formHead.html' /} 
<link rel="stylesheet" href="/public/stylesheets/rating.css" type="text/css" />
<script src="/public/javascripts/rating.js"></script>
<div class="form-group">
	<a href="@{ratingProductForm()}" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> &{'New ratingProduct'}</a>
	<h3>&{'ratingProduct'}</h3>
	<hr class="text-primary">
</div>

#{if (ratingProductList==null || ratingProductList?.size()==0) && isFilteringMode == true}
<div class="alert alert-warning alert-dismissible" role="alert">
  <strong>Warning!</strong> No Data Found.
</div>
#{/if}
#{else}

	<table id="listofratingProduct" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
	<thead>
		<tr>
			 
			<th>&{'ProductID'}</th>
			<th>&{'Rating'}</th>
	 
			 <th>&{'Actions'}</th>
		</tr>
	</thead>

	<tbody>
		#{list ratingProductlist, as:'ratingProduct'}
		<tr>
		 
			<td>${ratingProduct.ProductID}</td>
			<td>${out.print(ratingProduct.getStars())}</td>
		 
			<td>
				<a href="@{ratingProductForm(ratingProduct?.ID)}" title="&{'Edit'}"><span class="glyphicon glyphicon-edit text-success mdbtn"></span></a>
				 
				<a href="#" class="confirmDelete" title="&{'Delete'}" ><span class="glyphicon glyphicon-trash text-danger mdbtn"></span></a>
				 
			</td>
		</tr>
		#{/list}
	</tbody>

</table>

#{/else}

<script>
$(document).ready(function() {
    $('#listofratingProduct').DataTable();
} );
</script>
<script>
$(function(){                   // Start when document ready
    // Call the rating plugin
    #{if (ratingproductl)}
    var Sekected = &{ratingproduct.Rating?.value};
     $(".rating"+Sekected).attr('checked', 'checked');
     #{/if}
    
    $('#star-rating').rating(function(vote, event){
         console.log(vote, event);
         $('#ratingproduct_Rating').val(vote);
    });
}); 
</script>
