#{extends 'ratingMain.html' /} #{set title:'manage.html' /} #{include
'include/formHead.html' /} 
<link rel="stylesheet" href="/public/stylesheets/rating.css" type="text/css" />
<script src="/public/javascripts/rating.js"></script>
<div class="form-group">
	<a href="@{ratingEmployeeForm()}" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> &{'New ratingEmployee'}</a>
	<h3>&{'ratingEmployee'}</h3>
	<hr class="text-primary">
</div>

#{if (ratingEmployeeList==null || ratingEmployeeList?.size()==0) && isFilteringMode == true}
<div class="alert alert-warning alert-dismissible" role="alert">
  <strong>Warning!</strong> No Data Found.
</div>
#{/if}
#{else}

	<table id="listofratingEmployee" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
	<thead>
		<tr>
			 
			<th>&{'EmployeeID'}</th>
			<th>&{'Rating'}</th>
	 
			 <th>&{'Actions'}</th>
		</tr>
	</thead>

	<tbody>
		#{list ratingEmployeelist, as:'ratingEmployee'}
		<tr>
		 
			<td>${ratingEmployee.getEmpName()}</td>
			<td>${out.print(ratingEmployee.getStars())}</td>
		 
			<td>
				<a href="@{ratingEmployeeForm(ratingEmployee?.ID)}" title="&{'Edit'}"><span class="glyphicon glyphicon-edit text-success mdbtn"></span></a>
				 
				<a href="#" class="confirmDelete" title="&{'Delete'}" ><span class="glyphicon glyphicon-trash text-danger mdbtn"></span></a>
				 
			</td>
		</tr>
		#{/list}
	</tbody>

</table>

#{/else}

<script>
$(function(){                   // Start when document ready
    // Call the rating plugin
   
    
    $('.star-rating').rating(function(vote, event){
      
    });
}); 
</script>
