#{extends 'stockMain.html' /} #{set title:'manage.html' /} #{include
'include/formHead.html' /} 

<div class="form-group">
	<a href="@{reservationForm()}" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> &{'New Reservation'}</a>
	<h3>&{'Reservation'}</h3>
	<hr class="text-primary">
</div>

#{if (reservationList==null || reservationList?.size()==0) && isFilteringMode == true}
<div class="alert alert-warning alert-dismissible" role="alert">
  <strong>Warning!</strong> No Data Found.
</div>
#{/if}
#{else}

	<table id="listofreservation" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>&{'resv_id'}</th>
			<th>&{'resv_account_id'}</th>
			<th>&{'resv_numb_pers'}</th>
			<th>&{'res_date'}</th>
			<th>&{'res_date_from'}</th>
			<th>&{'res_date_to'}</th>
			 <th>&{'Actions'}</th>
		</tr>
	</thead>

	<tbody>
		#{list reservationList, as:'reservation'}
		<tr>
			<td>${reservation.resv_id}</td>
			<td>${reservation.resv_account_id}</td>
			<td>${reservation.resv_numb_pers}</td>
			<td>${reservation.res_date}</td>
			<td>${reservation.res_date_from}</td>
			<td>${reservation.res_date_to}</td>
			 
			<td>
				<a href="@{reservationForm(reservation?.resv_id)}" title="&{'Edit'}"><span class="glyphicon glyphicon-edit text-success mdbtn"></span></a>
				 
				<a href="#" class="confirmDelete" title="&{'Delete'}" ><span class="glyphicon glyphicon-trash text-danger mdbtn"></span></a>
				 
			</td>
		</tr>
		#{/list}
	</tbody>

</table>

#{/else}

<script>
$(document).ready(function() {
    $('#listofreservation').DataTable();
} );
</script>