#{extends 'stockMain.html' /} #{set title:'reservationForm.html' /} #{include
'include/formHead.html' /} 

<form class="form-horizontal RestoFormValidation" role="form"
	action="@{saveReservation()}" method="post">
	<fieldset>
		<legend>&{'ReservationForm'}</legend>
		<input type="hidden" name="id" value="${brand?.ID}">
		#{field 'reservation.ID'} <input type="hidden" name="${field?.name}"
			value="${field?.value}" /> #{/field}
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.res_numb_pers'} <label for="${field?.id}"
					class="form-label-en">&{'Number Of persons'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		 
		 <br>
		
		 
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.first_name'} <label for="${field?.id}"
					class="form-label-en">&{'First Name'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.last_name'} <label for="${field?.id}"
					class="form-label-en">&{'Last Name'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.phone'} <label for="${field?.id}"
					class="form-label-en">&{'Phone'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.state'} <label for="${field?.id}"
					class="form-label-en">&{'State'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.res_date_from'} <label for="${field?.id}"
					class="form-label-en">&{'Date From'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.res_date_to'} <label for="${field?.id}"
					class="form-label-en">&{'Date To'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					<input id="${field?.id}" name="${field?.name}"
						value="${field?.value}" autofocus type="text" placeholder=""
						class="form-control required">
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-2">
				#{field 'reservation.res_status'} <label for="${field?.id}"
					class="form-label-en">&{'Status (Pending|Accepted|Canceled)'} *</label>
			</div>
			<div class="col-md-3">
				<div class="form-input-en">
					 #{select 'reservation.res_status', value:field?.value, id:'field?.id', name:'field?.name', class:'form-control required'}
						#{option 1}Pending#{/option}
						#{option 2}Accepted#{/option}
						#{option 3}Canceled#{/option}
					#{/select}
						  
				</div>
			</div>
			#{/field}
		</div>
		
		<br>
		
		
	
		
		<div class="row">
			<div class="form-button-en">
				<button type="submit" class="btn btn-primary">&{'Save'}</button>
				<a href="@{manage()}" class="btn btn-danger">&{'Cancel'}</a>
			</div>
		</div>
	</fieldset>
</form>
#{include 'include/formValidation.html' /}
