<div class="container">
	<div class="col-md-12">
		<h2>MY SHOPPING CART</h2>
	</div>
	
	<div class="col-md-6 col-sm-12 col-xs-12">
	#{if (orderProductList != null && orderProductList?.size() != 0)}
		#{list orderProductList, as:'product'}
		<div class="row itemContent">
			<div class="col-md-2">
				<div class="itemImage">
					<img src="/public/template/images/${product.image}" alt="${product.productname}">
				</div>
			</div>
			<div class="col-md-10">
				<h3 class="itemName">${product.productname}</h3>
				<div class="col-md-6">
					<div class="itemID">
						<span class="">Item ID: </span> <span class="value">${product.product_ID}</span>
					</div>
				</div>
				<div class="col-md-6">
					<table class="itemPriceQty">
						<tr>
							<th>Price:</th>
							<th>Quantity:</th>
							<th>Total:</th>
						</tr>
						<tr>
							<td style="">$${product.unitPrice}</td>
							<td><input class="item_qty" type="number" data-id="${product.product_ID}" value="${product.quantity}"></td>
							<td>$${product.total}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-12">
					<div class="itemOption">
						<a href="@{removeOrderProduct(product?.product_ID)}#cart">Remove</a>
					</div>
				</div>
			</div>
		</div>
		#{/list}
		<div class="row orderTotal">
			<div class="col-md-12">
				<span class="orderLabel">Order Total: </span><span class="orderValue">$${totalPrice}</span>
			</div>			
		</div>
	#{/if}
	</div>

	<div class="col-md-6 col-sm-12 col-xs-12">
		
	</div>

</div>

