<div class="container">
	<div class="col-md-12">
		<h2>MY SHOPPING CART</h2>
	</div>
	
	<div class="col-md-6 col-sm-12 col-xs-12">
	#{if (orderProductList != null && orderProductList?.size() != 0)}
		#{list orderProductList, as:'product'}
		<div class="row itemContent">
			<div class="col-md-2">
				<div class="itemImage">
					<img src="/public/template/images/${product.image}" alt="${product.productname}">
				</div>
			</div>
			<div class="col-md-10">
				<h3 class="itemName">${product.productname}</h3>
				<div class="col-md-6">
					<div class="itemID">
						<span class="">Item ID: </span> <span class="value">${product.product_ID}</span>
					</div>
				</div>
				<div class="col-md-6">
					<table class="itemPriceQty">
						<tr>
							<th>Price:</th>
							<th>Quantity:</th>
							<th>Total:</th>
						</tr>
						<tr>
							<td style="">$${product.unitPrice}</td>
							<td><input class="item_qty" type="number" data-id="${product.product_ID}" value="${product.quantity}"></td>
							<td>$${product.total}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-12">
					<div class="itemOption">
						<a href="@{removeOrderProduct(product?.product_ID)}#cart">Remove</a>
					</div>
				</div>
			</div>
		</div>
		#{/list}
		<div class="row orderTotal">
			<div class="col-md-12">
				<span class="orderLabel">Order Total: </span><span class="orderValue">$${totalPrice}</span>
			</div>			
		</div>
	#{/if}
	</div>

	<div class="col-md-6 col-sm-12 col-xs-12">
		<form class="form-horizontal" style="background-color: #DDD; padding: 30px;">
			<div class="form-group">
			    <label for="clientName" class="col-sm-3 control-label">Full name <span class="redColor">*</span></label>
			    <div class="col-sm-9">
			    	<input type="text" class="form-control" id="clientName">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="clientAddress" class="col-sm-3 control-label">Street Address <span class="redColor">*</span></label>
			    <div class="col-sm-9">
			    	<input type="text" class="form-control" id="clientAddress">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="clientMobile" class="col-sm-3 control-label">Mobile <span class="redColor">*</span></label>
			    <div class="col-sm-9">
			    	<input type="text" class="form-control" id="clientMobile">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="clientPhone" class="col-sm-3 control-label">Phone </label>
			    <div class="col-sm-9">
			    	<input type="text" class="form-control" id="clientPhone">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="clientEmail" class="col-sm-3 control-label">Email Address </label>
			    <div class="col-sm-9">
			    	<input type="email" class="form-control" id="clientEmail">
			    </div>
		    </div>
		    <div class="form-group">
		    	<div class="col-sm-12">
		    		<button type="submit" class="btn btn-success" style="float: right;">Save order</button>
		    	</div>
		    </div>
		</form>
	</div>

</div>

