<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurant</title>
        <link rel="stylesheet" href="/public/template/css/normalize.css">
        <link rel="stylesheet" href="/public/template/css/food-menu.css">
        <link rel="stylesheet" href="/public/template/css/main.css" media="screen" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/template/css/bootstrap.css">
        <link rel="stylesheet" href="/public/template/css/style-portfolio.css">
        <link rel="stylesheet" href="/public/template/css/picto-foundry-food.css" />
        <link rel="stylesheet" href="/public/template/css/jquery-ui.css">
        
        <!-- dataTable css files -->
		<link rel="stylesheet" href="/public/stylesheets/datatable/dataTables.bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/datatable/responsive.bootstrap.min.css" type="text/css" />        
        <link href="/public/stylesheets/framework/bootstrap.min.css" rel="stylesheet" media="screen">
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/template/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="/public/template/favicon-1.ico" type="image/x-icon">
    </head>
    <body>
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Restaurant</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">WELCOME</a></li>
                            <li><a class="color_animation" href="#story">ABOUT</a></li>
                            <li><a class="color_animation" href="#menu">OUR MENU</a></li>
                            <li><a class="color_animation" href="#reservation">RESERVATION</a></li>
                            <li><a class="color_animation" href="#contact">CONTACT</a></li>
                            <li><a class="color_animation" href="#shoppingCart" data-toggle="modal" data-target="#shoppingCart"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white; font-size:20px;"></i> <span id='scqty' style="color:white;">${shoppingCartItems}</span> </a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
         
        <div id="top" class="starter_container bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="top-title"> Restaurant</h2>
                    <h2 class="white second-title">" Best in the city "</h2>
                    <hr>
                </div>
            </div>
        </div>

        <!-- ============ About Us ============= -->

        <section id="story" class="description_content">
            <div class="text-content container">
                <div class="col-md-6">
                    <h1>About us</h1>
                    <div class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text">Restaurant is a place for simplicity. Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.</p>
                </div>
                <div class="col-md-6">
                    <div class="img-section">
                       <img src="/public/template/images/kabob.jpg" width="250" height="220">
                       <img src="/public/template/images/limes.jpg" width="250" height="220">
                       <div class="img-section-space"></div>
                       <img src="/public/template/images/radish.jpg"  width="250" height="220">
                       <img src="/public/template/images/corn.jpg"  width="250" height="220">
                   </div>
                </div>
            </div>
        </section>
        
        <!-- ============ Menu  ============= -->

		<section id ="menu" class="description_content">
        	#{include 'WebApplication/menu.html' /}
		</section>

        <!-- ============ Reservation  ============= -->

        <section  id="reservation"  class="description_content">
            <div class="featured background_content">
                <h1>Reserve a Table!</h1>
            </div>
            <div class="text-content container"> 
                <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="post" action="reserve.php">
                            <!-- Left Inputs -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <!-- Name -->
                                                <input type="text" name="first_name" id="first_name" required="required" class="form" placeholder="First Name" />
                                                <input type="text" name="last_name" id="last_name" required="required" class="form" placeholder="Last Name" />
                                                <input type="text" name="state" id="state" required="required" class="form" placeholder="State" />
                                                <input type="text" name="datepicker" id="datepicker" required="required" class="form" placeholder="Reservation Date" />
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                <!-- Name -->
                                                <input type="text" name="phone" id="phone" required="required" class="form" placeholder="Phone" />
                                                <input type="text" name="guest" id="guest" required="required" class="form" placeholder="Guest Number" />
                                                <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                                                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                                            </div>

                                            <div class="col-xs-6 ">
                                                <!-- Send Button -->
                                                <button type="submit" id="submit" name="submit" class="text-center form-btn form-btn">Reserve</button> 
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <!-- Message -->
                                        <div class="right-text">
                                            <h2>Hours</h2><hr>
                                            <p>Monday to Friday: 7:30 AM - 11:30 AM</p>
                                            <p>Saturday & Sunday: 8:00 AM - 9:00 AM</p>
                                            <p>Monday to Friday: 12:00 PM - 5:00 PM</p>
                                            <p>Monday to Saturday: 6:00 PM - 1:00 AM</p>
                                            <p>Sunday to Monday: 5:30 PM - 12:00 AM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->
            </div>
        </section>

        <!-- ============ Social Section  ============= -->
      
        <section class="social_connect">
            <div class="text-content container"> 
                <div class="col-md-6">
                    <span class="social_heading">FOLLOW</span>
                    <ul class="social_icons">
                        <li><a class="icon-twitter color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-github color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-linkedin color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-mail color_animation" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="social_heading">OR DIAL</span>
                    <span class="social_info"><a class="color_animation" href="tel:883-335-6524">(941) 883-335-6524</a></span>
                </div>
            </div>
        </section>

        <!-- ============ Contact Section  ============= -->

        <section id="contact">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.664063989472!2d91.8316103150038!3d24.909437984030877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37505558dd0be6a1%3A0x65c7e47c94b6dc45!2sTechnext!5e0!3m2!1sen!2sbd!4v1444461079802" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner contact">
                            <!-- Form Area -->
                            <div class="contact-form">
                                <!-- Form -->
                                <form id="contact-us" method="post" action="contact.php">
                                    <!-- Left Inputs -->
                                    <div class="col-md-6 ">
                                        <!-- Name -->
                                        <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                                        <!-- Email -->
                                        <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                                        <!-- Subject -->
                                        <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                                    </div><!-- End Left Inputs -->
                                    <!-- Right Inputs -->
                                    <div class="col-md-6">
                                        <!-- Message -->
                                        <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                                    </div><!-- End Right Inputs -->
                                    <!-- Bottom Submit -->
                                    <div class="relative fullwidth col-xs-12">
                                        <!-- Send Button -->
                                        <button type="submit" id="submit" name="submit" class="form-btn">Send Message</button> 
                                    </div><!-- End Bottom Submit -->
                                    <!-- Clear -->
                                    <div class="clear"></div>
                                </form>
                            </div><!-- End Contact Form Area -->
                        </div><!-- End Inner -->
                    </div>
                </div>
            </div>
        </section>
        
        <div class="modal fade" tabindex="-1" role="dialog" id="shoppingCart">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
			    <div class="modal-header">
			      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      <h4 class="modal-title">Shopping cart</h4>
			    </div>
			    <div class="modal-body">
			    #{if (orderProductList != null && orderProductList?.size() != 0)}
			      	<table id="listofaccounts" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th></th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Unit Price</th>
								<th>Total Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							#{list orderProductList, as:'product'}
							<tr>
								<td><img class="img-responsive" src="/public/template/images/${product.image}" alt="${product.productname}" style="width:50px;"></td>
								<td>${product.productname}</td>
								<td>${product.quantity}</td>
								<td>${product.unitPrice}</td>
								<td>${product.total}</td>
								<td>
									<a href="" title="&{'Edit'}"><span class="glyphicon glyphicon-edit text-success mdbtn"></span></a>
									<a href="@{ShoppingCart.removeItem(product?.product_ID)}" class="confirmDelete" title="&{'Delete'}" ><span class="glyphicon glyphicon-trash text-danger mdbtn"></span></a>
								</td>
							</tr>
							#{/list}
						</tbody>
						<tfoot>
							<tr>
								<th colspan="4" style="text-align:right">Total</th>
								<th colspan="2">&{totalPrice}</th>
							</tr>
						</tfoot>
					</table>
				#{/if}
				#{else}
					<p>No items added to shopping cart!</p>
				#{/else}
			    </div>
			    <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      <button type="button" class="btn btn-primary">Save</button>
			    </div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

        <!-- ============ Footer Section  ============= -->

        <footer class="sub_footer">
            <div class="container">
                <div class="col-md-4"><p class="sub-footer-text text-center">&copy; Restaurant 2014, Theme by <a href="https://themewagon.com/">ThemeWagon</a></p></div>
                <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
                </div>
                <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By <a href="#" target="_blank">Us</a></p></div>
            </div>
        </footer>


        <script type="text/javascript" src="/public/template/js/jquery-1.10.2.min.js"> </script>
        <script type="text/javascript" src="/public/template/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="/public/template/js/jquery-1.10.2.js"></script>     
        <script type="text/javascript" src="/public/template/js/jquery.mixitup.min.js" ></script>
        <script type="text/javascript" src="/public/template/js/main.js" ></script>
        <script type="text/javascript" src="/public/template/js/food-menu.js" ></script>
        
        <!-- dataTable js files -->
		<script src="/public/javascripts/dataTable/jquery.dataTables.min.js"></script>
		<script src="/public/javascripts/dataTable/dataTables.bootstrap.min.js"></script>
		<script src="/public/javascripts/dataTable/dataTables.responsive.min.js"></script>
		<script src="/public/javascripts/dataTable/responsive.bootstrap.min.js"></script>
        
        <script>
        	function openshoppingcart(){
        		$('#shopping-cart').modal();
        	}
        </script>
 
    </body>
</html>