     <div class="pricing background_content">
        <h1><span>Checkout</span> Our menu</h1>
     </div>
    <div class="text-content container"> 
        <div class="container">
            <div class="row">
                <div id="w">
                    <ul id="filter-list" class="clearfix">
                        <li class="filter" data-filter="all">All</li>
                        #{if (foodMenuCategories != null && foodMenuCategories?.size() != 0)}
                        #{list foodMenuCategories, as:'category'}
                        <li class="filter" data-filter="${category.name}">${category.name}</li>
                        #{/list}
                        #{/if}
                    </ul><!-- @end #filter-list -->    
                    <ul id="portfolio">
                    #{if (foodMenu != null && foodMenu?.size() != 0)}
                    	#{list foodMenu, as:'food'}
                    	<li class="item ${hmap.get(food.category_ID)}"><img src="/public/template/images/${food.imagePath}" alt="${food.name}" >
                            <h2 class="white">${food.price}</h2>
                        </li>
                        #{/list}
                    #{/if}
                    </ul><!-- @end #portfolio -->
                </div><!-- @end #w -->
            </div>
        </div>
    </div>
