    <link rel="stylesheet" href="/public/stylesheets/chosen.bootstrap.css" />
	<link rel="stylesheet" href="/public/stylesheets/chosen.bootstrap.min.css" />
    <script src="/public/javascripts/chosen.jquery.js"></script>
    <script src="/public/javascripts/nod.min.js"></script>
<script type="text/javascript" src="/public/javascripts/dateTimePicker/moment.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/public/javascripts/dateTimePicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<link href="/public/stylesheets/dateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    
   