
	<div class="panel status panel-warning">
		<div class="panel-heading">
			<h1 class="panel-title text-center"><strong>&{'Cash Register'}</strong></h1>
		</div>
		<div class="panel-body text-center">
			<div class="col-xs-12 col-md-3">
				<img src="/public/images/register.png" width="100%" style="margin-bottom: 8px;">
			</div>
			<div class="col-xs-12 col-md-9">
				<div class="panel-body text-center">
					<table class="table table-condensed" style="margin-bottom: 0px;">
						<thead>
							<tr>
								<th class="text-success text-center" style="font-size:20px;">&{'Income'}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-success text-center"><span class="formatNumber">${todayIncome}</span> $</th>
							</tr>
						</tbody>
					</table>
					<hr>
				</div>
			</div>
		</div>
	</div>
