#{extends 'stockMain.html' /} #{set title:'menuManage.html' /}  #{set title:'Manage Plates' /} #{include
'include/tableWithFilterHead.html' /}
 #{include 'include/formHead.html' /}
<div class="form-group">
	<a href="@{Products.productForm()}" class="btn btn-primary pull-right btn-sm"><span
		class="glyphicon glyphicon-plus-sign"></span> &{'AddProduct'}</a>
	<h3>&{'Products'}</h3>
	<hr class="text-primary">
</div>
<br>
#{if productsList==null || productsList?.size()==0}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">&{'ProductsList'}</h3>
	</div>
	<div class="panel-body">&{'listIsEmpty'}</div>
</div>
#{/if} #{else}


<div class="panel panel-primary filterable">
	<div class="panel-heading">
		<h3 class="panel-title">&{'ProductsList'}</h3>
		<div class="pull-right">
			<button class="btn btn-default btn-xs btn-filter">
				<span class="glyphicon glyphicon-filter"></span> &{'Filter'}
			</button>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr class="filters">
				<th><input type="text" class="form-control"
					placeholder="&{'Name'}" disabled></th>
				<th><input type="text" class="form-control"
					placeholder="&{'Category'}" disabled></th>
	
				<th>&{'Action'}</th>
			</tr>
		</thead>
		<tbody>
			<!--#{list productsList, as:'product'} -->
			<tr>
				<td>${product?.name}</td>
				<td>${product?.getCategoryName()}</td>
				<td>
				</td>
			</tr>
			<!--#{/list} -->
		</tbody>
	</table>
</div>
#{include 'include/deleteConfirmDialog.html' /} #{/else}
