#{extends 'accountMain.html' /} #{set title:'Update Account' /} 

<div class="form-group">
	<a class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> AddAccount</a>
	<h3>Accounts</h3>
	<hr class="text-primary">
</div>

<form class="form-horizontal" role="form" action="@{saveAccountChanges()}" method="post">
	#{field 'account.ID'} 
	<input type="hidden" name="${field?.name}" value="${field?.value}" /> 
	#{/field}
	
	
  <div class="form-group">
  	#{field 'account.user_ID'}
    <label for="acc_userID" class="col-sm-2 control-label">&{'User ID'}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_userID" placeholder="&{'User ID'}" name="${field?.name}" value="${field?.value}">
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.type'}
    <label for="acc_type" class="col-sm-2 control-label">&{'Type'}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_type" placeholder="&{'Type'}" name="${field?.name}" value="${field?.value}">
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.status'}
    <label for="acc_status" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_status" placeholder="Status" name="${field?.name}" value="${field?.value}">
    </div>
   #{/field} 
  </div>
  <div class="form-group">
  	#{field 'account.balance'}
    <label for="acc_balance" class="col-sm-2 control-label">Balance</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_balance" placeholder="Balance" name="${field?.name}" value="${field?.value}">
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.credit'}
    <label for="acc_credit" class="col-sm-2 control-label">Credit</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_credit" placeholder="Credit" name="${field?.name}" value="${field?.value}">
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.debit'}
    <label for="acc_debit" class="col-sm-2 control-label">Debit</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_debit" placeholder="Debit" name="${field?.name}" value="${field?.value}">
    </div>
    #{/field}
  </div>
  
  #{if account.ID != null && account.ID.equals("") == false}
  
  <div class="form-group">
  	#{field 'account.created_date'}
    <label for="acc_createdDate" class="col-sm-2 control-label">Created date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_createdDate" placeholder="Created date" name="${field?.name}" value="${field?.value}" readonly>
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.created_by'}
    <label for="acc_createdBy" class="col-sm-2 control-label">Created by</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_createdBy" placeholder="Created by" name="${field?.name}" value="${field?.value}" readonly>
    </div>
    #{/field}
  </div>
    
  <div class="form-group">
  	#{field 'account.updated_date'}
    <label for="acc_updatedDate" class="col-sm-2 control-label">Updated date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_updatedDate" placeholder="Updated date" name="${field?.name}" value="${field?.value}" readonly>
    </div>
    #{/field}
  </div>
  <div class="form-group">
  	#{field 'account.updated_date'}
    <label for="acc_updatedBy" class="col-sm-2 control-label">Updated by</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acc_updatedBy" placeholder="Updated by" name="${field?.name}" value="${field?.value}" readonly>
    </div>
    #{/field}
  </div>
  
  #{/if}
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary pull-right">Save</button>
	  <a href="@{Accounts.displayAllAccounts()}" class="btn btn-danger pull-right" style="margin-right:10px;">Cancel</a>
    </div>
  </div>

</form>